<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9 no-js"> <![endif]-->
<!-- [if (gt IE 9)|!(IE)]><! -->
<html class="no-js">
  <!-- <![endif] -->
  <head>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
        }
      }
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if template == 'index' %}
      <title>
        {{ shop.name }}
        |
        {{ page_title }}
      </title>
    {% elsif template == '404' %}
      <title>
        Page Not Found |
        {{ shop.name }}
      </title>
    {% else %}
      <title>
        {{ page_title }}
        |
        {{ shop.name }}
      </title>
    {% endif %}
    {% if page_description %}
      <meta name="description" content="{{ page_description }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">
    {{ content_for_header }}

    {% comment %}
      Style imports
    {% endcomment %}

    {{ 'index.css' | asset_url | stylesheet_tag }}
    {{ 'output.css' | asset_url | stylesheet_tag }}

    {{ 'home.css' | asset_url | stylesheet_tag }}
    {{ 'products.css' | asset_url | stylesheet_tag }}
    {{ 'single_product.css' | asset_url | stylesheet_tag }}
    {{ 'page.css' | asset_url | stylesheet_tag }}

    {{ 'cart.css' | asset_url | stylesheet_tag }}
    {{ 'navigation.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="{{ 'type-filter.js' | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ 'index.js' | asset_url }}" defer></script>

    <script type="text/javascript" src="{{ 'display-images.js' | asset_url }}" defer></script>
    <style type="text/tailwindcss">
      @theme {
        extend: {
          animation: {
            'fade-in': 'fade-in 5s ease-out forwards',
          },
          keyframes: {
            'fade-in': {
              '0%': { opacity: '0' },
              '100%': { opacity: '1' },
            }
          }
        }
      }
    </style>

    
    
    <script type="application/json" data-ajax-cart-initial-state>
    {{ cart | json }}
    </script>
    
    <script type="module">
      import '{{ "liquid-ajax-cart-v1.11.1.js" | asset_url }}';
      </script>

<script type="module" src="{{ 'nuckle_script.js' | asset_url }} " defer></script>
</head>

<body
id="{{ page_title | handle }}"
class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}"
>
<div id="visualGrid" class="visualGrid"></div>

    <div class="header-cont-nav-cart">
      {% section 'main-header' %}
    </div>
    <div class="my-floating-cart">
      {% section 'my-cart' %}
    </div>

    <style>
      .my-floating-cart {
        display: none;
      }

      /* Show the floating cart if the 'js-my-cart-open' CSS class exists */
      .js-my-cart-open .my-floating-cart {
        display: block;
      }
    </style>

    {{ content_for_layout }}
  </body>
</html>
