<div class="sub-links-wrapped">
          <fieldset class="sub-links">
            <legend class="custom-legend">Categories</legend>
            <div class="sub-links-flex">
              {% for link in linklists['sidebar-menu'].links %}
                {% assign product_catergories = link.title |  downcase %}
                <label class="custom-radio">
                  <input type="radio" name="type-filter" id="{{ product_catergories }}" {% if product_catergories == 'all' %}checked{% endif %}>
                  <span class="radio"></span> {{ link.title }}
                </label>
              {% endfor %}
            </div>
          </fieldset>
        </div>
<div class="all-products-wrapper">
  <div class="featured-images">
    
    <div class="all-images">
      
      
    {% assign all_images = "" %} <!-- Initialize an empty string to collect images -->

    {% for product in collection.products %}
      {% for image in product.images %}
        {% if forloop.first and forloop.index0 > 0 %}
          {% assign all_images = all_images | append: ", " %} <!-- Add a comma if not the first image -->
        {% endif %}
        {% assign all_images = all_images | append: image.src %} <!-- Append each image src to the string -->
      {% endfor %}
    {% endfor %}
    
    <span class="collect-images" data-images="{{ all_images }}"></span>
 

    <img
      id="featured-image"
      src="{{ collection.products[0].featured_image |  image_url }}"
      loading="lazy"
      width=""
      height=""
    >


  </div>

  </div>
  {% if collection.all_products_count > 0 %}
    <div class="all-products">
      {% for product in collection.products %}
       
        {% comment %} This product-card could possibly be turned to a section {% endcomment %}
        <div class="product-card" data-type="{{ product.type | downcase }}">
          <a href="{{ product.url }}">
            <img
              class="product-img"
              src="{{ product.featured_image | image_url }}"
              alt="{{ product.title | escape }}"
              loading="lazy"
              width=""
              height=""
            >
          </a>

          <div class="product-card-description">
            <div class="product-card-description-values">
              <a class="{{ product.url }} product-card-title-link" href="{{ product.url }}" id="{{ product.url }}">
                {{ product.title }}
              </a>
              <div class="all-products-currency">{{ product.price | money_with_currency }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% else %}
    <p>Sorry, there are no products in this collection</p>
  {% endif %}
</div>

{% comment %} FOR IMAGE {% endcomment %}
{% comment %}
  <img
  class="product-img"
  src="{{ product.featured_image | product_img_url: 'grande' }}"
  alt="{{ product.title | escape }}"
  loading="lazy" />
{% endcomment %}
