{% comment %} <script>

  let currentUrl = window.location.href
  let matchedUrl = currentUrl.includes('/collections/all')
  let shopifyEl = "{{ product.url }}"
  console.log(shopifyEl);

  if(matchedUrl === true){
    let highlightUrl = document.getElementById("{{ product.url }}")
    console.log(highlightUrl);
    // highlightUrl.style.fontWeight= 'bold'
    console.log(true);
  } else{
    console.log('failed');
  }
  // console.log(url)

</script> {% endcomment %}

{% case product.url %}
 {% when product.url == '/collections/all'  %}

  <style>
    a { 
      font-weight: 900;
    }
  </style>


{% endcase %}
  {% if collection.all_products_count > 0 %}
    <div class="shop-bg-color">

      <div class="all-products">

        {% for product in collection.products %}

          <div class="product-card">


            {{ product.description }}
            <img
              class="product-img"
              src="{{ product.featured_image | product_img_url: 'grande' }}"
              alt="{{ product.title | escape }}"
              loading="lazy" />
            <div class="product-descrp">
              <p>
                <a class="{{ product.url }}" href="{{ product.url }}" id="{{ product.url }}" >{{ product.title }}</a>
              </p>
            </div>

          </div>
        {% endfor %}


      </div>
    </div>


  {% else %}
    <p>Sorry, there are no products in this collection</p>
  {% endif %}