{% assign page = pages.frontpage %}
{{ page.content }}
<!--
  {% comment %} {% assign collection = collections.frontpage %} {% endcomment %}
  <div class="home-page-wrapper
                                            "><div>
      <img
        src=""
        loading="eager"
        width="auto"
        height="auto" />
    </div>


  </div>
  {% comment %}
  <div class="product-wrapper">
  <div class="column">
  {% for product in collection.products %}
  <div class="items">
  <h3>
  <a href="{{ product.url }}">{{ product.title }}</a>
  </h3>

  <a href="{{ product.url }}">
  <img
  alt="{{ product.alt }}"
  src="{{ product.media[0] | image_url }}"
  width="300"
  height="300"
  loading="lazy" /></a>
  </div>
  {% else %}
  <p>You have no products in your Frontpage collection</p>
  <a href="/">
  Click me to go back :

  {{ images['IMG_1419.jpg'] | image_url: width: 300 | image_tag }}
  </a>
  {% endfor %}
  </div>
  </div>  {% endcomment %}
-->
