


<ul class="nav-links">

{% assign full_url = request.path %}
{% assign type = request.page_type %}


{% for link in linklists.main-menu.links %}

    {% if link.url == full_url %}

      <div>
        <a class="highlighted" href="{{ link.url }}">{{ link.title }}</a>

      </div>
      {% elsif  type == 'collection' and link.title == 'Shop'%}
        <div>
        <a class="highlighted" href="{{ link.url }}">{{ link.title }}</a>

      </div>
        
    {% else %}
      <div>
      <a href="{{ link.url }}">{{ link.title }}</a>
      {% comment %} {{ type }} {% endcomment %}
     
    </div>
    {% endif %}
    

  {% endfor %}




 <div class="cart-link">
  <a data-ajax-cart-toggle-class-button="js-my-cart-open" href="{{ routes.cart_url }}">
  Cart [
                  <span data-ajax-cart-bind-state="cart.item_count">

                    {{ cart.item_count }}
                  </span>
  ]
  </a>  
</div>
 
</ul>

