{% comment %} 
  TODO:
    Get rid of vanilla css, replace with tailwind
{% endcomment %}


<div class="fixed w-full z-10">
  <div class="flex justify-between w-full p-[10px]">
      <div class="main-links">
        {% for link in linklists['main-menu'].links %}
          {% if link.title == 'Shop' %}
            <div class="orswo-link">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% else %}

          {% endif %}
        {% endfor %}
      </div>
      {% comment %} 
        TODO:
          Set height to nav bar height, has to extend width. 
      {% endcomment %}
      <div class="flex justify-center items-center">
        <a href="/">
          <img
            class=""
            src="{{ "orswo_logo.png" | asset_img_url }}"
            loading="lazy"
            width=""
            height="">
        </a>
      </div>
      <div class="nav-cart">
        <div class="cart-link-btn">
          <a data-ajax-cart-toggle-class-button="js-my-cart-open" href="{{ routes.cart_url }}">
            Cart
            <span data-ajax-cart-bind-state="cart.item_count">
              {{ cart.item_count }}
            </span>
          </a>
        </div>
      </div>
    </div>
</div>

<div class="hidden md:block md:fixed bottom-0 lg:block lg:fixed lg:bottom-0 w-full z-10 ">
  <div class="flex justify-between w-full p-[10px]">
      <div class="main-links">
              <a class="orswo-link" href="https://www.instagram.com/orswo/">@orswo</a>
      </div>
{% comment %} 
      TODO:
        Make this as its own button that opens feature shown on figma file.
{% endcomment %}
        <div class="nav-cart">
          <div class="cart-link-btn">
            <a data-ajax-cart-toggle-class-button="js-my-cart-open" href="{{ routes.cart_url }}">
              info
            </a>
          </div>
        </div>
    </div>
</div>