<div class="nav-links-wrap">
  <div class="nav-links">
    <div class="main-links">
      {% for link in linklists['main-menu'].links %}
        {% if link.title == 'Products' %}
          <div class="orswo-link">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </div>
        {% else %}

        {% endif %}
      {% endfor %}
    </div>
    <div class="main-links">
      {% for link in linklists['main-menu'].links %}
        {% if link.title == 'Orswo' %}
          <div class="orswo-link">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </div>
        {% else %}

        {% endif %}
      {% endfor %}
    </div>

    <div class="nav-cart">
      <div class="cart-link-btn">
        <a data-ajax-cart-toggle-class-button="js-my-cart-open" href="{{ routes.cart_url }}">
          Cart
          <span data-ajax-cart-bind-state="cart.item_count">
            {{ cart.item_count }}
          </span>
        </a>
      </div>
    </div>
  </div>

  {% comment %} Sub catergories {% endcomment %}
  <div class="sub-links-wrapped">
    <fieldset class="sub-links">
      <legend class="custom-legend">Categories</legend>
      <div class="sub-links-flex">
        {% for link in linklists['sidebar-menu'].links %}
          <label class="custom-radio">
            <input type="radio" name="categories" id="{{ link.title }}">
            <span class="radio"></span> {{ link.title }}
          </label>
        {% endfor %}
      </div>
    </fieldset>
  </div>
</div>
