<div class="nav-links">
  <div class="main-links">
    {% for link in linklists['main-menu'].links %}
      {% if link.title == 'Products' %}
        <div class="orswo-link">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </div>
      {% else %}

      {% endif %}
    {% endfor %}
  </div>
  <div class="main-links">
    {% for link in linklists['main-menu'].links %}
      {% if link.title == 'Orswo' %}
        <div class="orswo-link">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </div>
      {% else %}

      {% endif %}
    {% endfor %}
  </div>

  <div class="nav-cart">
    <div class="cart-link-btn">
      <a data-ajax-cart-toggle-class-button="js-my-cart-open" href="{{ routes.cart_url }}">
        Cart
        <span data-ajax-cart-bind-state="cart.item_count">
          {{ cart.item_count }}
        </span>
      </a>
    </div>
  </div>
</div>

<div class="sub-links">
  {% for link in linklists['sidebar-menu'].links %}
    <a href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
</div>
