<div class="single-product-card-main">
  <div class="product-info">
    <div class="product-title-card">
      <div class="product-title-with-cart">
        {{ product.title }}
        
        {% form 'product', product %}
          <!-- Add Variant Selector if necessary -->
          {% if product.variants.size > 1 %}
            <select name="id" class="product-variant-select">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {% else %}
                  <option disabled>{{ variant.title }} - Sold Out</option>
                {% endif %}
              {% endfor %}
            </select>
          {% else %}
            <!-- Add hidden input if only one variant exists -->
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          {% endif %}

          <input type="submit" value="Add to cart">
          <div data-ajax-cart-messages="form"></div> 
        {% endform %}
      </div>
      <div class="product-price">{{ product.price | money_with_currency }}</div>
    </div>

    <div class="product-descript">{{ product.description }}</div>
  </div>

  <!-- Swiper for Mobile Only -->
  <div id="swiper-display" class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for imageSource in product.images %}
        <div class="swiper-slide">
          <img class="sngl-prdct-img" alt="{{ product.alt }}" src="{{ imageSource.src | image_url }}" loading="lazy">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Product Image Layout for Desktop -->
  <div class="product-images-layout">
    {% if product.images.size == 0 %}
      <img class="sngl-prdct-img" alt="{{ product.alt }}" src="{{ product.featured_image.src | image_url }}" loading="lazy">
    {% else %}
      {% for imageSource in product.images %}
        <img class="sngl-prdct-img" alt="{{ product.alt }}" src="{{ imageSource.src | image_url }}" loading="lazy">
      {% endfor %}
    {% endif %}
  </div>
</div>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';
  document.addEventListener("DOMContentLoaded", function() {
      const swiper = new Swiper('.mySwiper', { loop: true, mousewheel: true });
  });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<style>
  #swiper-display { display: none; }
  .swiper { width: 100%; }
  @media only screen and (max-width: 500px) {
    #single-product-imagelayout { display: none; }
    #swiper-display { display: block; }
  }
</style>
