<div class="single-product-card-main">
  <div class="product-info">
    <div class="product-title-card">
      <div class="product-title-with-cart">
      {{ product.title }}
      <form
        class="form-wrapper"
        action="/cart/add"
        method="post"
        enctype="multipart/form-data"
      >
        {% comment %} USING THIS CLASS TO HIDE WITH CSS SEEMS HACKY BUT ONLY WAY TO UPDATE CART WITH "VARIANTS" ATTACHED {% endcomment %}
        <select class="hide-this-select" name="id">
          {% for variant in product.variants %}
            {% if variant.available == true %}
              <option value="{{ variant.id }}">
                {{ variant.price | money_with_currency }}
              </option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - sold out!</option>
            {% endif %}
          {% endfor %}
        </select>
        <input
          class="add-to-cart-button"
          type="submit"
          name="add"
          id="add-to-cart-button"
          value="Add to Cart"
          class="button"
        >
      </form>
    </div>

      <div class="product-price">{{ product.price | money_with_currency }}</div>
    </div>

    <div class="product-descript">
      {{ product.description }}
    </div>
  </div>
  <div id="swiper-display" class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for imageSource in product.images %}
        <div class="swiper-slide">
          <img
            class="sngl-prdct-img "
            alt="{{ product.alt }}"
            src="{{ imageSource.src | img_url: '500x500', format: 'pjpg' }}"
            loading="lazy"
          >
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="product-images-layout">
    {% if product.images.size == 0 %}
      <div id="single-product-imagelayout" >
        <img
          class="sngl-prdct-img"
          alt="{{ product.alt }}"
          src="{{ product.featured_image.src | img_url: '500x500', format: 'pjpg' }}"
          loading="lazy"
          height=""
          width=""
        >
      </div>
    {% elsif product.images.size >= 1 %}
      {% for imageSource in product.images %}
        <div id="single-product-imagelayout">
          <img
            class="sngl-prdct-img"
            alt="{{ product.alt }}"
            src="{{ imageSource.src | img_url: '500x500', format: 'pjpg' }}"
            loading="lazy"
            height=""
            width=""
          >
        </div>
      {% endfor %}
    {% endif %}
    </div>
</div>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';

  const swiper = new Swiper('.mySwiper', { loop: true, mousewheel: true });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<style>
  #swiper-display {
    display: none !important;
  }
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: 500px) {
    #single-product-imagelayout {
      display: none !important;
    }
    #swiper-display {
      display: block !important;
    }
  }
</style>

{% schema %}
{
  "name": "tag_descriptions",
  "settings": [
    {
      "type": "textarea",
      "id": "ready_to_ship_status_description",
      "label": "Ready to ship status description"
    },
    {
      "type": "textarea",
      "id": "to_be_made_status_description",
      "label": "To be made status description"
    }
  ]
}
{% endschema %}
