<div class="flex flex-col-reverse lg:flex-row-reverse gap-[10px] lg:gap-[6.25%] md:!pt-[60px] lg:!pt-[60px] px-[10px] w-full">
  {% comment %}
    <div class="lg:!hidden !p-[10px] !text-8xl !font-extrabold tracking-[-0.15em] !flex !flex-row">
      ORSWOORSWOORSWOORSWO
    </div>
  {% endcomment %}
  <!-- Product Information Desktop -->
  <div class="!sticky !top-0 flex lg:justify-center lg:w-1/2 lg:h-[845px] !px-[10px]">
    <div class="!sticky !top-0 flex flex-col gap-[10px] lg:justify-center md:w-1/2 lg:w-1/2 h-full">
      <div class="!text-[16px] uppercase">{{ product.title }}</div>
      <div class="sm:!text-[12px] lg:!text-[10px]">{{ product.price | money_with_currency }}</div>
      <div class="!text-[12px] lg:!text-[10px]">{{ product.description }}</div>
      <ajax-cart-product-form>
        {% form 'product', product %}
          <!-- Add Variant Selector if necessary -->
          {% if product.variants.size > 1 %}
            <select name="id" class="product-variant-select">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {% else %}
                  <option disabled>{{ variant.title }} - Sold Out</option>
                {% endif %}
              {% endfor %}
            </select>
          {% else %}
            <!-- Add hidden input if only one variant exists -->
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          {% endif %}

          <input class="!text-[12px] !w-1/2" type="submit" value="Add to cart">
          <div class="uppercase !p-[10px]" data-ajax-cart-messages="form"></div>
        {% endform %}
      </ajax-cart-product-form>
    </div>
  </div>

  <!-- Swiper for Mobile Only -->
  <div id="swiper-display" class="swiper mySwiper">
    <div class="swiper-wrapper !pt-[50px]">
      {% for imageSource in product.images %}
        <div class="swiper-slide">
          <img
            class="object-cover h-dvh w-full !px-[10px]"
            alt="{{ product.alt }}"
            src="{{ imageSource.src | image_url }}"
            loading="lazy"
          >
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Product Image Layout for Desktop -->
  <div class="hidden lg:flex items-center lg:items-end md:grid md:grid-cols-2 md:gap-[5px] lg:flex-col gap-[10px] xl:w-1/2 !px-[10px]">
    {% if product.images.size == 0 %}
      <img class="w-full" alt="{{ product.alt }}" src="{{ product.featured_image.src | image_url }}" loading="lazy">
    {% else %}
      {% for imageSource in product.images %}
        <img
          class="aspect-[1/1.4] h-full w-full lg:h-[810px] lg:w-[540px] object-cover"
          alt="{{ product.alt }}"
          src="{{ imageSource.src | image_url }}"
          loading="lazy"
        >
      {% endfor %}
    {% endif %}
  </div>
</div>

<!--
  TODO:
  - Trying to figure out the height to be full on the swiper.
-->

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.mySwiper', { loop: true, mousewheel: true });
  });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<style>
  #swiper-display {
    display: none;
  }
  .swiper {
    width: 100%;
  }
  .swiper-slde,
  .swiper-slide-active {
    height: 100% !important;
  }
  @media only screen and (max-width: 768px) {
    #single-product-imagelayout {
      display: none;
    }
    #swiper-display {
      display: block;
    }
  }
</style>
