


<div class="single-product-card-main">
  <div id="swiper-display" class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for imageSource in product.images %}
        <div class="swiper-slide">
        <img
            class="sngl-prdct-img "
            alt="{{ product.alt }}"
            src="{{ imageSource.src | img_url: '500x500', format: 'pjpg' }}"
            loading="lazy"
              >
        </div>
      {% endfor %}
    </div>
  </div>


<div id="single-product-imagelayout" class="product-images-layout">
  {% if product.images.size == 0 %}
    <img
    class="sngl-prdct-img"
    alt="{{ product.alt }}"
    src="{{ product.featured_image.src | img_url: '500x500', format: 'pjpg' }}"
    loading="lazy"
    >
    
    {% elsif product.images.size >= 1 %}

    {% for imageSource in product.images %}
      <img
          class="sngl-prdct-img"
          alt="{{ product.alt }}"
          src="{{ imageSource.src | img_url: '500x500', format: 'pjpg' }}"
          loading="lazy"
            >
      
    {% endfor %}

          
          
      {% endif %}

          
</div>



          <div class="product-info">
            <div class="product-title-card">{{ product.title }}</div>
            <div class="product-price" >{{ product.price | money_with_currency }}</div>

            <div class="product-descript">
              {{ product.description }}
              </div>

              {% for tag in product.tags %}
                {% comment %} This to be dynamic, if tag is true else have a placeholder {% endcomment %}
                {% if tag == 'readytoship' %}
                  <div class="product-tag-wrapper">
                    <div class="product-ready-status"> Ready to ship </div>
                    {% comment %} This to have a schema for what the description {% endcomment %}
                   
                  </div>
                {% elsif tag == 'tobemade' %}
                  <div class="product-ready-status"> To Be Made </div>
                {% endif %}
                  
               
              {% endfor %}

            <form
              class="form-wrapper"
              action="/cart/add"
              method="post"
              enctype="multipart/form-data"
            >
              {% comment %} USING THIS CLASS TO HIDE WITH CSS SEEMS HACKY BUT ONLY WAY TO UPDATE CART WITH "VARIANTS" ATTACHED {% endcomment %}
              <select class="hide-this-select" name="id">
                {% for variant in product.variants %}
                  {% if variant.available == true %}
                    <option value="{{ variant.id }}">
                      {{ variant.price | money_with_currency }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }} - sold out!</option>
                  {% endif %}
                {% endfor %}
              </select>
              <input
                class="add-to-cart-button"
                type="submit"
                name="add"
                id="add-to-cart-button"
                value="Add to Cart"
                class="button"
              >
            </form>
          </div>
</div>


<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

  const swiper = new Swiper('.mySwiper', {loop: true, mousewheel: true})
 
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<style>
    #swiper-display {
        display: none !important;
    }
    .swiper {
      width: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: 500px) {
    #single-product-imagelayout {
        display: none !important;
    }
    #swiper-display {
        display: block !important;
    }
  }
    
  </style>